<!--<ol>
    <li *ngFor="let b of books">
        {{b.title}} by {{b.author.name}}
    </li>
</ol>-->

<table>
    <tr>
        <th>Book Title</th>
        <th>Author</th>
        <th>Year Written</th>
        <th>Edition</th>
        <th>Price</th>
    </tr>
    <tr *ngFor="let b of books">
        <td >
            {{b.title}}
        </td>
        <td>
            {{b.author.name}}
        </td>
        <td>
            {{b.year_written}}
        </td>
        <td>
            {{b.edition}}
        </td>
        <td>
            € {{b.price}}
        </td>
    </tr>
</table>
